.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  width: 504px;
  /* figma = 1022px? */
  height: 840px;
  padding: 17px;
  margin-right: 16px;
  border-radius: 5px;
}

.container {
  height: 100%;
  overflow-y: scroll;
}

/* hide scroll-bar */
.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.title {
  color: #333333;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  margin-bottom: 16px;
}
