.container {
  width: 380px;
  height: 480px;
  position: relative;
  background: #333333;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}
.title {
  color: #ffff;
  font-weight: 700;
  font-size: 28px;
  line-height: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.submitButton {
  width: 85%;
  height: 28%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #f3c693;
  border: 0;
  outline: none;
  border-radius: 30px;
  margin-top: 20%;
  color: white;
  font-weight: bold;
  font-size: medium;
}
.backBtn {
  margin: 20px;
  width: 20px;
  background-color: white;
  text-align: center;
  padding: 3px;
  border-radius: 13px;
  cursor: pointer;
}
